body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

#qr-reader {
  width: 320px;
  height: 240px;
  margin: 20px auto;
  border: 2px solid black;
}

button {
  padding: 10px;
  margin: 5px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #444;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

#popup {
  display: none;
  color: green;
  font-weight: bold;
}
